<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userInfo</key>
	<dict>
		<key>aps</key>
		<dict>
			<key>alert</key>
			<string>This is our test push notification.</string>
			<key>sound</key>
			<string>default</string>
		</dict>
		<key>custom</key>
		<string>You can put custom entries in this dictionary that match the APN attributes your server sends.</string>
	</dict>
</dict>
</plist>
